/* _Compact_template */
p {
    margin: 1em 0;
}

.opt {
    padding: 10px;
    font-family: sans-serif;
}

.opt__header,
.opt__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.opt__order-data {
    width: 60%;
}

.opt__order-data h3,
.opt__order-data h2 {
    margin-top: 0;
    margin-bottom: 1em;
}

.opt__header .opt__logo {
    width: 40%;
    margin-left: 3em;
    text-align: right;
}

.opt__header .opt__logo img {
    max-width: 300px;
    width: 200px;
    height: auto;
}

.divTable .opt__line-item {
    display: flex;
    align-items: center;
}

.divTable .opt__line-item .opt__line-item--img img {
    width: 40px;
    margin-right: 1em;
}

.opt__footer {
    margin-top: 1em;
}

.opt__shop-data {
    width: 60%;
}

.opt__order-summary {
    width: 40%;
    text-align: right;
}

.opt__order-summary .divTableCell {
    border-bottom: none;
}

.opt__end {
    display: flex;
    justify-content: space-between;
}

.opt__end .signature-placeholder {
    margin-top: 6em;
    width: 30%;
    text-align: center;
}

.opt__end .signature-placeholder span {
    display: block;
    border-top: 1px solid black;
    width: 100%;
}

/* _Modern_template */

.opt-modern__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    margin-bottom: 2em;
    padding: 20px 0;
}

.opt-modern__header, 
.opt-modern__body,
.opt-modern__footer {
    padding-left: 2em;
    padding-right: 2em;
}

.opt-modern__logo {
    width: 40%;
}

.opt-modern__logo img {
    max-width: 300px;
    width: 200px;
    height: auto;
}

.opt-modern__shop-data {
    width: 60%;
    text-align: right;
}

.opt-modern__shop-data p {
    margin: 0;
}

.opt-modern__body {
    display: flex;
}

.opt-modern__order-items {
    width: 75%
}

.opt-modern__order-data {
    width: 25%;
    text-align: right;
    margin-left: 2em;
    padding-left: 1em;
    border-left: thin dashed rgba(0, 0, 0, 0.2);
}

.opt-modern__order-summary {
    width: 50%;
    text-align: right;
    margin-top: 2em;
    margin-left: auto;
}

.opt-modern__order-summary .divTableCell {
    border-bottom: none;
}

.opt-modern__order-summary .total {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: double rgba(0, 0, 0, 0.2);
}

.opt-modern__order-total h3,
.opt-modern__order-total p {
    margin: 0;
}

.opt-modern__order-total h3 {
    font-size: 2em;
}

.opt-modern__body .divTable .opt__line-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.opt-modern__body .divTable .opt__line-item .opt__line-item--img img {
    width: 40px;
    margin-right: 1em;
}

.opt p.message-placeholder {
    color: rgb(133, 133, 133);
    font-style: italic;
    max-width: 300px;
}

/* Div table */

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    /* background-color: #EEE; */
    display: table-header-group;
    text-align: center;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    padding: 5px 10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.opt__line-items .divTableCell {
    text-align: center;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

/* Shipping */
 #shipping .opt__header {
     flex-direction: row-reverse;
 }

#shipping .opt__header .opt__logo {
     text-align: left;
     margin-left: 0;
 }

#shipping h3 {
    text-align: right;
 }

#shipping {
     max-width: 500px;
     border: 2px solid rgb(133, 133, 133);
     padding: 20px;
 }