<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">

  <!-- Preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <title>Plantillas para Order Printer de Shopify - k-million</title>
  <meta name="description" content="Personaliza plantillas para la aplicación Order Printer de Shopify. Plantillas GRATIS para imprimir etiquetas de envío y facturas desde Shopify.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="favicon.png"/>

  <meta property="og:title" content="Plantillas para Order Printer by k-million">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kmillionary.github.io/order-printer-templates/">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- vendor CSS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/templates.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <header>
    <div class="kmillion__header">
      <a class="kmillion__logo-wrapper" href="http://k-million.com" target="_blank" rel="noopener noreferrer">
        <img class="kmillion__logo"
          src="https://cdn.shopify.com/s/files/1/0444/5532/9945/files/golden_ratio_logo_y_letras_BLANCAS.png?v=1632534622"
          alt="logo de kmillion">
      </a>
      <a class="kmillion__contact-us" href="https://k-million.com/pages/contactanos">Contáctanos</a>
    </div>
  </header>
  <section class="oph">
    <div class="oph__title">
      <h1>Generador de plantillas para Order Printer de Shopify</h1>
      <p>Imprime facturas y recibos desde Shopify. Utiliza la aplicación <a href="https://apps.shopify.com/order-printer" target="_blank"
        rel="noopener noreferrer">Order Printer</a> para imprimir estas plantillas desde tu tienda.</p>
        <p>Es muy sencillo:</p>
        <ol>
          <li>Personaliza con tu logo y colores</li>
          <li>Copia el código</li>
          <li>Pega el código en la App Order Printer</li>
        </ol>
    </div>
    <div class="oph__tutorial">
     <div class="video-container"> <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/O_I4BndslYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </section>
  <main class="ops">
    <form onsubmit="return false" class="ops__form">
      <h3>Personaliza tu plantilla</h3>
      <div class="ops__form-item">
        <label for="url">Ingresa la URL de tu logo</label>
        <input type="url" name="url" id="logoUrl" placeholder="https://cdn.shopify.com/...">
      </div>
      <div class="ops__form-item">
        <label for="width">Ancho del logo (px)</label>
        <div class="logo-width">
          <input type="number" name="width" id="logoWidth" value="150" max="250" min="50" step="5">
          <input type="range" name="range-width" id="rangeWidth" value="150" max="250" min="50" step="5">
        </div>
      </div>
      <div class="ops__form-item">
        <label for="primary">Color de encabezados</label>
        <input type="color" value="#000" name="primary" id="primaryColor">
      </div>
      <div class="ops__form-item">
        <label for="primary">Texto al pie de página</label>
        <textarea name="message" id="message" rows="3" placeholder="¡Gracias por su compra!"></textarea>
      </div>
      <div class="ops__form-btn">
        <button type="reset"><span class="material-icons-outlined">
            restart_alt
          </span></button>
        <button id="btnUrl">
          <span class="material-icons-outlined">brush</span>
          <span>Personalizar</span>
        </button>
      </div>
    </form>
    <div class="ops__templates">
      <div class="ops__template-container">
        <h3>Compact</h3>
        <div class="ops__template-content">
          <!-- compact template -->
          <div class="opt" id="compact">
            <style></style>
            <div class="opt__header">
              <div class="opt__order-data">
                <h3>ORDEN 1001</h3>
                <p>
                  <b>Nombre:</b> Nombre del Cliente
                  <br><b>Dirección:</b>
                  <br>Empresa Acme
                  <br>Calle Lorem Avenida Ipsum
                  <br> Guatemala, Guatemala
                  <br><b>Teléfono:</b> +(502) 5555-5555
                </p>
              </div>
              <div class="opt__logo">
                <img class="logo-placeholder"
                  src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder.png?v=1632376157" alt="logo">
              </div>
            </div>

            <div class="divTable opt__line-items">
              <div class="divTableHeading">
                <div class="divTableRow">
                  <div class="divTableCell"><b>Producto</b></div>
                  <div class="divTableCell"><b>Cantidad</b></div>
                  <div class="divTableCell"><b>Precio</b></div>
                  <div class="divTableCell"><b>Subtotal</b></div>
                </div>
              </div>
              <div class="divTableBody">
                <div class="divTableRow">
                  <div class="divTableCell opt__line-item">
                    <div class="opt__line-item--img">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder-images-product-1_large_ebbfc251-3a4b-42d6-b1ba-3a87865eb39e.png?v=1632381288"
                        alt="" width="40">
                    </div>
                    <div style="text-align: left">
                      <span>Titulo de variante</span> <br>
                      <span>SKU</span>
                    </div>
                  </div>
                  <div class="divTableCell">2x</div>
                  <div class="divTableCell">Q.150.00</div>
                  <div class="divTableCell">Q.300.00</div>
                </div>
                <div class="divTableRow">
                  <div class="divTableCell opt__line-item">
                    <div class="opt__line-item--img">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder-images-product-1_large_ebbfc251-3a4b-42d6-b1ba-3a87865eb39e.png?v=1632381288"
                        alt="" width="40">
                    </div>
                    <div style="text-align: left">
                      <span>Titulo de variante</span> <br>
                      <span>SKU</span>
                    </div>
                  </div>
                  <div class="divTableCell">3x</div>
                  <div class="divTableCell">Q.25.00</div>
                  <div class="divTableCell">Q.75.00</div>
                </div>
              </div>
            </div>

            <div class="opt__footer">
              <div class="opt__shop-data">
                <p><b>Nombre Tienda</b>
                  <br> Dirección Tienda
                  <br> +(502) 5555-5555
                  <br> ayuda@mitienda.com
                  <br> www.mitienda.com
                </p>

              </div>
              <div class="opt__order-summary">
                <div class="divTable">
                  <div class="divTableBody">
                    <div class="divTableRow">
                      <div class="divTableCell">Descuentos</div>
                      <div class="divTableCell"> -Q.25.00</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Subtotal</div>
                      <div class="divTableCell">Q.350.00</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Envío</div>
                      <div class="divTableCell">Q.25.00</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Total</div>
                      <div class="divTableCell">Q.375.00</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Estatus</div>
                      <div class="divTableCell"><b>PAGADO</b></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="message-placeholder">¡Gracias por su compra!</p>
          </div>
          <!-- end compact template -->
          <!-- liquid template -->
          <div class="opt__liquid">

            <link rel="stylesheet" href="https://kmillionary.github.io/order-printer-templates/css/templates.css">
            <div class="opt">
              <style></style>
              <div class="opt__header">
                <div class="opt__order-data">
                  <h3>ORDEN {{ order_number }}</h3>
                  <p>
                    <b>Nombre:</b> {{ shipping_address.name }}
                    <br><b>Dirección:</b>
                    {% if shipping_address.company %}
                    <br>{{ shipping_address.company }}
                    {% endif %}
                    {% if shipping_address.address1 %}
                    <br>{{ shipping_address.address1 }}
                    {% endif %}
                    {% if shipping_address.address2 %}
                    <br>{{ shipping_address.address2 }}
                    {% endif %}
                    {% if shipping_address.city %}
                    <br> {{ shipping_address.city }},
                    {% endif %}
                    {% if shipping_address.province %}
                    {{ shipping_address.province }},
                    {% endif %}
                    {% if shipping_address.country %}
                    {{ shipping_address.country }}
                    {% endif %}

                    <br><b>Teléfono:</b> {{ shipping_address.phone }}
                  </p>
                </div>
                <div class="opt__logo">
                  <img class="logo-placeholder"
                    src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder.png?v=1632376157"
                    alt="logo">
                </div>
              </div>

              <div class="divTable opt__line-items">
                <div class="divTableHeading">
                  <div class="divTableRow">
                    <div class="divTableCell"><b>Producto</b></div>
                    <div class="divTableCell"><b>Cantidad</b></div>
                    <div class="divTableCell"><b>Precio</b></div>
                    <div class="divTableCell"><b>Subtotal</b></div>
                  </div>
                </div>
                <div class="divTableBody">
                  {% for line_item in line_items %}
                  <div class="divTableRow">
                    <div class="divTableCell">
                      <div class="opt__line-item">
                        <div class="opt__line-item--img">
                          {{ line_item.image | img_url: 'thumb' | img_tag }}
                        </div>
                        <div style="text-align: left">
                          <span>{{ line_item.title }}</span> <br>
                          <span>{{ line_item.sku }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="divTableCell">{{ line_item.quantity }} x</div>
                    <div class="divTableCell">
                      {% if variant.compare_at_price != variant.price %}
                      <s>{{ variant.compare_at_price | money }}</s>
                      {% endif %}
                      {{ line_item.price | money }}
                    </div>
                    <div class="divTableCell">
                      {% assign subtotal = line_item.price | times: line_item.quantity | money %}
                      {{ subtotal }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="opt__footer">
                <div class="opt__shop-data">
                  <p><b>{{ shop_name }}</b>
                    <br> {{ shop.address }}
                    <br> {{ shop.city }} {{ shop.province }}
                    <br> {{ shop.phone }}
                    <br> {{ shop.email }}
                    <br> {{ shop.domain }}
                  </p>

                </div>
                <div class="opt__order-summary">
                  <div class="divTable">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableCell">Descuentos</div>
                        <div class="divTableCell"> -{{ total_discounts | money }} </div>
                      </div>
                      <div class="divTableRow">
                        <div class="divTableCell">Subtotal</div>
                        <div class="divTableCell">{{ subtotal_price | money }}</div>
                      </div>
                      <div class="divTableRow">
                        <div class="divTableCell">Envío</div>
                        <div class="divTableCell">{{ shipping_price | money }}</div>
                      </div>
                      <div class="divTableRow">
                        <div class="divTableCell">Total</div>
                        <div class="divTableCell">{{ total_price | money }}</div>
                      </div>
                      <div class="divTableRow">
                        <div class="divTableCell">Estatus</div>
                        <div class="divTableCell">
                          {% if total_price == total_paid %}
                          <small><b>PAGADO</b> </small>
                          {% else %}
                          <small><b>PENDIENTE</b> </small>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="message-placeholder">¡Gracias por su compra!</p>
            </div>
          </div>
          <!-- end liquid template -->

        </div>
        <div class="ops__template-btn">
          <button class="ops__print-btn"
            onclick="printJS({ printable: 'compact', type: 'html', css: 'https://kmillionary.github.io/order-printer-templates/css/templates.css' })">
            <span class="material-icons-outlined">print</span>
            Imprimir vista previa
          </button>
          <button class="ops__copy-btn">
            <span class="material-icons-outlined">content_copy</span>
            Copiar
          </button>
        </div>
      </div>
      <div class="ops__template-container">
        <h3>Modern</h3>
        <div class="ops__template-content">
          <!-- modern template -->
          <div class="opt" id="modern">
            <style></style>
            <div class="opt-modern__header">
              <div class="opt-modern__logo">
                <img class="logo-placeholder"
                  src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder.png?v=1632376157" alt="logo">
              </div>
              <div class="opt-modern__shop-data">
                <p>
                  <b>Nombre Tienda</b>
                  <br> Calle Lorem avenida ipsum
                  <br> Guatemala, Guatemala
                  <br> +(502) 5555-5555
                  <br> www.mitienda.com
                </p>
              </div>
            </div>
            <div class="opt-modern__body">
              <div class="opt-modern__order-items">
                <!-- div table -->
                <div class="divTable">
                  <div class="divTableBody">
                    <div class="divTableRow">
                      <div class="divTableHead"><b>Producto</b></div>
                      <div class="divTableHead"><b>Precio</b></div>
                      <div class="divTableHead"><b>Cant</b></div>
                      <div class="divTableHead"><b>Total</b></div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">
                        <div class="opt__line-item">
                          <div class="opt__line-item--img">
                            <img
                              src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder-images-product-1_large_ebbfc251-3a4b-42d6-b1ba-3a87865eb39e.png?v=1632381288"
                              alt="producto" width="50">
                          </div>
                          <div style="text-align: left">
                            <span>Título del Producto</span> <br>
                            <span>SKU</span>
                          </div>
                        </div>
                      </div>
                      <div class="divTableCell">
                        <s>Q125.00</s>
                        <br> Q100.00
                      </div>
                      <div class="divTableCell">3 x</div>
                      <div class="divTableCell">
                        Q300.00
                      </div>
                    </div>

                  </div>
                </div>
                <!-- end div table -->
                <div class="opt-modern__order-summary">
                  <div class="divTable">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableCell">Descuentos</div>
                        <div class="divTableCell"> -Q25.00 </div>
                      </div>
                      <div class="divTableRow">
                        <div class="divTableCell">Subtotal</div>
                        <div class="divTableCell">Q275.00</div>
                      </div>
                      <div class="divTableRow">
                        <div class="divTableCell">Envío</div>
                        <div class="divTableCell">Q25.00</div>
                      </div>
                    </div>
                  </div>
                  <div class="total">
                    <p><b>Total a pagar:</b></p>
                    <p>Q.300.00</p>
                  </div>
                </div>
              </div>
              <div class="opt-modern__order-data">
                <div class="opt-modern__order-total">
                  <p><b>Total a pagar</b></p>
                  <h3>Q300.00</h3>
                </div>
                <div class="opt-modern__cust-data">
                  <p><b>Facturar a</b>
                    <br> Nombre del Cliente
                    <br> Empresa Acme
                    <br> Dirección del Cliente
                    <br> +(502) 5555-5555
                  </p>
                </div>
                <div class="opt-modern__order-number">
                  <p><b>Orden</b>
                    <br> 1001
                  </p>
                </div>
                <div class="opt-modern__order-date">
                  <p><b>Fecha</b>
                    <br> 02/09/2021
                  </p>
                </div>
                <div class="opt-modern__payment-status">
                  <p><b>Estatus</b>
                    <br><small>PAGADO</small>
                  </p>
                </div>
              </div>
            </div>
            <div class="opt-modern__footer">
              <p><b>Notas:</b></p>
              <p>Cualquier nota en el pedido del cliente</p>
              <p class="message-placeholder">¡Gracias por su compra!</p>
            </div>
          </div>
          <!-- end modern template -->
          <!-- liquid template -->
          <div class="opt__liquid">

            <link rel="stylesheet" href="https://kmillionary.github.io/order-printer-templates/css/templates.css">
            <div class="opt">
              <style></style>
              <div class="opt-modern__header">
                <div class="opt-modern__logo">
                  <img class="logo-placeholder"
                    src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder.png?v=1632376157"
                    alt="logo">
                </div>
                <div class="opt-modern__shop-data">
                  <p>
                    <b>{{ shop_name }}</b>
                    <br> {{ shop.address }}
                    <br> {{ shop.city }}, {{ shop.province }}
                    <br> {{ shop.phone }}
                    <br> {{ shop.email }}
                    <br> {{ shop.domain }}
                  </p>
                </div>
              </div>
              <div class="opt-modern__body">
                <div class="opt-modern__order-items">
                  <!-- div table -->
                  <div class="divTable">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableHead"><b>Producto</b></div>
                        <div class="divTableHead"><b>Precio</b></div>
                        <div class="divTableHead"><b>Cant</b></div>
                        <div class="divTableHead"><b>Total</b></div>
                      </div>
                      {% for line_item in line_items %}
                      <div class="divTableRow">
                        <div class="divTableCell">
                          <div class="opt__line-item">
                            <div class="opt__line-item--img">
                              {{ line_item.image | img_url: 'thumb' | img_tag }}
                            </div>
                            <div style="text-align: left">
                              <span>{{ line_item.title }}</span> <br>
                              <span>{{ line_item.sku }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="divTableCell">
                          {% if variant.compare_at_price != variant.price %}
                          <s>{{ variant.compare_at_price | money }}</s>
                          {% endif %}
                          {{ line_item.price | money }}
                        </div>
                        <div class="divTableCell">{{ line_item.quantity }} x</div>
                        <div class="divTableCell">
                          {% assign subtotal = line_item.price | times: line_item.quantity |
                          money %}
                          {{ subtotal }}
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                  <!-- end div table -->
                  <div class="opt-modern__order-summary">
                    <div class="divTable">
                      <div class="divTableBody">
                        <div class="divTableRow">
                          <div class="divTableCell">Descuentos</div>
                          <div class="divTableCell"> -{{ total_discounts | money }} </div>
                        </div>
                        <div class="divTableRow">
                          <div class="divTableCell">Subtotal</div>
                          <div class="divTableCell">{{ subtotal_price | money }}</div>
                        </div>
                        <div class="divTableRow">
                          <div class="divTableCell">Envío</div>
                          <div class="divTableCell">{{ shipping_price | money }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="total">
                      <p><b>Total a pagar:</b></p>
                      <p>{{ total_price | money }}</p>
                    </div>
                  </div>
                </div>
                <div class="opt-modern__order-data">
                  <div class="opt-modern__order-total">
                    <p><b>Total a pagar</b></p>
                    <h3>{{ total_price | money }}</h3>
                  </div>
                  <div class="opt-modern__cust-data">
                    <p>
                      <b>Facturar a:</b>
                      <br>{{ shipping_address.name }}
                      {% if shipping_address.company %}
                      <br>{{ shipping_address.company }}
                      {% endif %}
                      {% if shipping_address.address1 %}
                      <br>{{ shipping_address.address1 }}
                      {% endif %}
                      {% if shipping_address.address2 %}
                      <br>{{ shipping_address.address2 }}
                      {% endif %}
                      {% if shipping_address.city %}
                      <br> {{ shipping_address.city }},
                      {% endif %}
                      {% if shipping_address.province %}
                      {{ shipping_address.province }},
                      {% endif %}
                      {% if shipping_address.country %}
                      {{ shipping_address.country }}
                      {% endif %}
                      <br> {{ shipping_address.phone }}
                    </p>
                  </div>
                  <div class="opt-modern__order-number">
                    <p><b>Orden</b>
                      <br> {{ order_number }}
                    </p>
                  </div>
                  <div class="opt-modern__order-date">
                    <p><b>Fecha</b>
                      <br> {{ created_at | date: "%d/%m/%y" }}
                    </p>
                  </div>
                  <div class="opt-modern__payment-status">
                    <p><b>Estatus</b>
                      {% if total_price == total_paid %}
                      <br><small>PAGADO</small>
                      {% else %}
                      <br><small>PENDIENTE</small>
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
              <div class="opt-modern__footer">
                {% if note %}
                <p><b>Notas:</b></p>
                <p>{{ note }}</p>
                {% endif %}
                <p class="message-placeholder">¡Gracias por su compra!</p>
              </div>
            </div>
          </div>
          <!-- end liquid template -->

        </div>
        <div class="ops__template-btn">
          <button class="ops__print-btn"
            onclick="printJS({ printable: 'modern', type: 'html', css: 'https://kmillionary.github.io/order-printer-templates/css/templates.css' })">
            <span class="material-icons-outlined">print</span>
            Imprimir vista previa
          </button>
          <button class="ops__copy-btn">
            <span class="material-icons-outlined">content_copy</span>
            <span>Copiar</span>
          </button>
        </div>
      </div>
    </div>
  </main>
  
  <section class="help-us">
    <h3>Ayudanos a mejorar</h3>
    <p>Sugiere cambios o solicita nuevas funciones a <a href="mailto:soporte@k-million.com">soporte@k-million.com</a>, ¡Gracias!</p>
  </section>
  <footer>
    <p>Diseñado por <a href="https://k-million.com" target="_blank">k-million</a>
      <br> Todos los logos y contenido son propiedad de k-million
      <br> Todos los derechos resevados
    </p>
 
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HH238C2GBE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-HH238C2GBE');
  </script>
</body>

</html>