<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern</title>
    <link rel="stylesheet" href="https://kmillionary.github.io/order-printer-template/templates.css">

</head>

<body>
    <div class="opt">
        <div class="opt-modern__header">
            <div class="opt-modern__logo">
                <img class="logo-url"
                    src="https://cdn.shopify.com/s/files/1/0482/5815/4657/files/placeholder.png?v=1632376157"
                    alt="logo">
            </div>
            <div class="opt-modern__shop-data">
                <p>
                    <b>{{ shop_name }}</b>
                    <br> {{ shop.address }}
                    <br> {{ shop.city }}, {{ shop.province }}
                    <br> {{ shop.phone }}
                    <br> {{ shop.email }}
                    <br> {{ shop.domain }}
                </p>
            </div>
        </div>
        <div class="opt-modern__body">
            <div class="opt-modern__order-items">
                <!-- div table -->
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableHead"><b>Producto</b></div>
                            <div class="divTableHead"><b>Precio</b></div>
                            <div class="divTableHead"><b>Cant</b></div>
                            <div class="divTableHead"><b>Total</b></div>
                        </div>
                        {% for line_item in line_items %}
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <div class="opt__line-item">
                                    <div class="opt__line-item--img">
                                        {{ line_item.image | img_url: 'thumb' | img_tag }}
                                    </div>
                                    <div style="text-align: left">
                                        <span>{{ line_item.title }}</span> <br>
                                        <span>{{ line_item.sku }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="divTableCell">
                                {% if variant.compare_at_price != variant.price %}
                                <s>{{ variant.compare_at_price | money }}</s>
                                {% endif %}
                                {{ line_item.price | money }}
                            </div>
                            <div class="divTableCell">{{ line_item.quantity }} x</div>
                            <div class="divTableCell">
                                {% assign subtotal = line_item.price | times: line_item.quantity | money %}
                                {{ subtotal }}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- end div table -->
                <div class="opt-modern__order-summary">
                    <div class="divTable">
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class="divTableCell">Descuentos</div>
                                <div class="divTableCell">  -{{ total_discounts | money }} </div>
                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell">Subtotal</div>
                                <div class="divTableCell">{{ subtotal_price | money }}</div>
                            </div>
                            <div class="divTableRow">
                                <div class="divTableCell">Envío</div>
                                <div class="divTableCell">{{ shipping_price | money }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <p><b>Total a pagar:</b></p>
                        <p>{{ total_price | money }}</p>
                    </div>
                </div>
            </div>
            <div class="opt-modern__order-data">
                <div class="opt-modern__order-total">
                    <p><b>Total a pagar</b></p>
                    <h3>{{ total_price | money }}</h3>
                </div>
                <div class="opt-modern__cust-data">
                    <p>
                        <b>Facturara a:</b> 
                        <br>{{ shipping_address.name }}
                        {% if shipping_address.company %}
                        <br>{{ shipping_address.company }}
                        {% endif %}
                        {% if shipping_address.address1 %}
                        <br>{{ shipping_address.address1 }}
                        {% endif %}
                        {% if shipping_address.address2 %}
                        <br>{{ shipping_address.address2 }}
                        {% endif %}
                        {% if shipping_address.city %}
                        <br> {{ shipping_address.city }},
                        {% endif %}
                        {% if shipping_address.province %}
                        {{ shipping_address.province }},
                        {% endif %}
                        {% if shipping_address.country %}
                        {{ shipping_address.country }}
                        {% endif %}
                        <br> {{ shipping_address.phone }}
                    </p>
                </div>
                <div class="opt-modern__order-number">
                    <p><b>Factura no.</b>
                        <br> {{ order_number }}
                    </p>
                </div>
                <div class="opt-modern__order-date">
                    <p><b>Fecha</b>
                        <br> {{ created_at | date: "%d / %b / %y" }}
                    </p>
                </div>
                <div class="opt-modern__payment-status">
                    <p><b>Estado de Pago</b> 
                        {% if total_price == total_paid %}
                        <br><small><b>PAGADO</b> </small>
                        {% else %}
                        <br><small><b>PENDIENTE</b> </small>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="opt-modern__footer">
            {% if note %}    
            <p><b>Notas:</b></p>
            <p>{{ note }}</p>
            {% endif %}
        </div>
    </div>

</body>

</html>