html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

header {
    
    padding: 15px;
    background-color: black;
}

header .kmillion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    margin-bottom: 1em;
    border: thin solid rgb(219, 219, 219);
}

button {
    cursor: pointer;
    font-weight: bold;
}

.kmillion__logo-wrapper {
    width: 150px;
}

.kmillion__logo-wrapper img.kmillion__logo {
    width: 100%;
}

@media only screen and (min-width: 769px){
    .kmillion__logo-wrapper {
        width: 300px;
    }
}

/* _Order_printer_section */

.ops {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


.ops__form {
    background-color: #f2f2f2;
    padding: 1em;
    margin: 2em auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);

}

.ops__form h3 {
    margin: 5px 0 20px 0;
}

.ops__form p {
    color: rgb(119, 119, 119);
}

.ops__form form {
    position: sticky;
    top: 10;
}

.ops__form label {
    padding-bottom: 0.5em;
    display: block;
}

.ops__form-item {
    margin-bottom: 1em;
}

.ops__form-item .logo-width {
    display: flex;
}

.ops__form input {
    border-radius: 5px;
    border: thin solid silver;
    width: 100%;
    padding: 1em;
}   

.ops__form textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 1em;
    font-family: inherit;
    border-radius: 5px;
    border: thin solid silver;
}

.ops__form-item .logo-width #logoWidth {
    width: 20%;
    min-width: 70px;
    margin-right: 1em;
    font-weight: bold;
}

.ops__form-item .logo-width #rangeWidth {
    width: 80%;
}

.ops__form input[type=color] {
    height: 40px;
    padding: 5px 10px;
}



.kmillion__contact-us,
button#btnUrl {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  padding: 10px 20px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

button#btnUrl span:first-of-type {
    margin-right: 5px;
}

.kmillion__contact-us:hover,
button#btnUrl:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.kmillion__contact-us {
    text-decoration: none;
}

.ops__copy-btn {
  font-size: 16px;
  background-color: cornflowerblue;
  color: white;
  transition: 0.3s;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: thin solid transparent;
}

.ops__copy-btn:hover {
  border: thin solid cornflowerblue;
  background-color: transparent;
  color: cornflowerblue;
}

.ops__form-btn button[type=reset] {
  display: inline;
  background: none;
  border: none;
  color: cornflowerblue;
  transition: 0.3s;
  margin-right: 20px;
}

.ops__form-btn button[type=reset]:hover {
  opacity: 0.6;
}

.ops__template-container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 2em;
}

.ops__template-container h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

.ops__template-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.ops__form-btn,
.ops__template-btn {
    margin-top: 1em;
}

.ops__template-btn {
    display: flex;
    justify-content: flex-end;
}
.ops__copy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ops__copy-btn span:first-of-type {
    margin-right: 5px;
}


.ops__form-btn {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 800px) {
    .ops {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        position: relative;
    }

    .ops__templates {
        margin-left: 2em;
        width: 60%;
    }
    
    .ops__form {
        width: 40%;
        position: sticky;
        top: 158px; 
        display:inline-block;
    }
}

@media only screen and (min-width: 1260px) {
    .ops__templates {
        width: 70%;
    }

    .ops__form {
        width: 30%;
    }
}

.opt {
    padding: 10px;
    min-width: 600px;
    font-family: sans-serif;
}

.opt h3 {
    font-family: sans-serif;
}

.opt__liquid {
    display: none;
}

footer {
    background-color: black;
    position: relative
}

footer p {
    color: rgb(121, 121, 121);
    text-align: center;
    padding: 50px;
    margin: 0;
    line-height: 1.2;
}

footer p a {
    text-decoration: none;
    color: #00cccc;
}