/* _Compact_template */

.opt {
    padding: 10px;
    min-width: 600px;
}

.opt__liquid {
    display: none;
}

.opt__header,
.opt__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.opt__order-data {
    width: 60%;
}

.opt__order-data h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

.opt__header .opt__logo {
    width: 40%;
    margin-left: 3em;
    text-align: right;
}

.opt__header .opt__logo img {
    max-width: 100%;
    max-height: 150px;
}

.divTable .opt__line-item {
    display: flex;
    align-items: center;
}

.divTable .opt__line-item .opt__line-item--img img {
    width: 40px;
    margin-right: 1em;
}

.opt__footer {
    margin-top: 1em;
}

.opt__shop-data {
    width: 60%;
}

.opt__order-summary{
    width: 40%;
    text-align: right;
}

/* _Modern_template */

.opt-modern__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    margin-bottom: 2em;
    padding: 20px 0;
}

.opt-modern__header, 
.opt-modern__body,
.opt-modern__footer {
    padding-left: 2em;
    padding-right: 2em;
}

.opt-modern__logo {
    width: 40%;
}

.opt-modern__logo img {
    width: 100%;
    max-width: 300px;
    max-height: 150px;
}

.opt-modern__shop-data {
    width: 60%;
    text-align: right;
}

.opt-modern__shop-data p {
    margin: 0;
}

.opt-modern__body {
    display: flex;
}

.opt-modern__order-items {
    width: 70%
}

.opt-modern__order-data {
    width: 30%;
    text-align: right;
    margin-left: 2em;
    padding-left: 1em;
    border-left: thin dashed rgba(0, 0, 0, 0.2);
}

.opt-modern__order-summary {
    width: 50%;
    text-align: right;
    margin-top: 2em;
    margin-left: auto;
}

.opt-modern__order-summary .divTableCell {
    border-bottom: none;
}

.opt-modern__order-summary .total {
    display: flex;
    justify-content: space-around;
    text-align: right;
    border-top: double rgba(0, 0, 0, 0.2);
}

.opt-modern__order-total h3,
.opt-modern__order-total p {
    margin: 0;
}

.opt-modern__order-total h3 {
    font-size: 2em;
}

.opt-modern__body .divTable .opt__line-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.opt-modern__body .divTable .opt__line-item .opt__line-item--img img {
    width: 40px;
    margin-right: 1em;
}

/* Div table */

.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    /* background-color: #EEE; */
    display: table-header-group;
    text-align: center;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    padding: 5px 10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

.opt__line-items .divTableCell {
    text-align: center;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}